
<div class="container-fluid">

	<div class="col-md-3">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Projects:</h4>
			</div>
		
			<div class="panel-body">
				<%= render 'projects_list' %>
			</div>
		</div>
	</div>



	<div class ="col-md-6">
		<div class="panel-default">
			<div class="panel-heading">
				<h5>Current Project:</h5>
			</div> 
			<% if @project != nil %>
			<div class="well">
			<div class="panel-body" style = "border-color: black;">
				<%= render 'currentproject' %>
			</div>
		</div>
			<%end%>
		</div>

	</div>



	<div class="col-md-3">
		<div class="panel-default">
			<div class="panel-heading">
				<h5>Project users:</h5>
			</div>
			
			<div class="panel-body">
				<%= render 'user_list' %>
			</div>
		</div>
		
	</div>


</div>