// Place all the styles related to the Epicenter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


jumbotron_background{
	height:300px;
	width: 100%;
}

img{
	object-fit:contain;
	margin-left: 0px;
	margin-right: 0px;
}